<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主页</title>
<link rel="stylesheet" type="text/css"
	href="me/jquery-easyui-1.6.6/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="me/jquery-easyui-1.6.6/themes/icon.css" />
<link rel="stylesheet" type="text/css"
	href="me/jquery-easyui-1.6.6/demo.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
<script type="text/javascript" src="me/jquery-easyui-1.6.6/jquery.min.js"></script>
<script type="text/javascript"
	src="me/jquery-easyui-1.6.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css" />

<style >
.mt-f4 {
    margin-top: -4px;
}
.mr-10 {
    margin-right: 10px;
}
img {
    border: none !important;
    vertical-align: middle;
}
.f-l {
    float: left !important;
}
.color-0 {
    color: #fff;
}

</style>
<script type="text/javascript">
$(function(){
	
	returnLogin();
})
function returnLogin(){
	var userType = "[[${session.userType}]]";
	if(userType != "4")
			window.location = "/logout";
		}

</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false"
		style="height: 65px; background: #B3DFDA; padding-right: 25px; overflow: hidden"
		>
		<div  style=" text-align:right;">
		<ul style="list-style-type:none">
		<li><img class="mr-10 mt-f4" src="img/pic-user.png" alt="">
		 <span class="color-0"><th th:text="${session.realname}"></th></span></li>
		<li><a href="/logout" ><font color = red> 退出</font></a> </li>
		
		</ul>
	</div>  
	<!-- <div class="user-acc f-l" style=" text-align:right;">
					<img class="mr-10 mt-f4" src="img/pic-user.png" alt="">
					<span class="color-0">*英泽&nbsp;330283********6015</span>
				</div>-->
	</div> 
      
	<!-- <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">west content</div> -->
	<div data-options="region:'west'" title="导航栏"
		style="width: 200px;">
		<div class="easyui-accordion" data-options="fit:true,border:false">
			
			<div title="用户管理" data-options="selected:true">
			<ul id="tree2"></ul>
			</div>

			<div title="信息管理" >
				<ul id="tree3"></ul>
			</div>
              
			<div title="个人管理" >
				<ul  id="tree">
				</ul>
			</div>
			
		</div>
	</div>
	<!-- <div
		data-options="region:'east',split:true,collapsed:true,title:'East'"
		style="width: 200px; padding: 10px;">

		<div id="layout_west_accordion" class="easyui-accordion"
			data-options="fit:true,border:false,nimate:true,lines:true">  
			 </div>
			
	</div> -->

	<div data-options="region:'south',border:false"
		style="height: 60px; background: #A9FACD; ">
		<h4 style="text-align:center"> 浙江大学宁波理工学院学生考勤管理系统</h4>
		<!-- <h5> 浙江大学宁波理工学院</h5>
 -->		
		</div>
	<!-- <div data-options="region:'center',title:'Center'"></div> -->
	<!-- <div id="tt" class="easyui-tabs" data-options="region:'center' ">
		<div title="First Tab" style="padding: 10px;">First Tab</div>
		<div title="Second Tab" closable="true" style="padding: 10px;">
			Second Tab</div>
		<div title="Third Tab" iconCls="icon-reload" closable="true"
			style="padding: 10px;">Third Tab</div>
	</div> -->
	<!-- <div id="tt" class="easyui-tabs" data-options="region:'center' ">
	<div title="About" style="padding:10px">
	</div>
	</div> -->
	<div data-options="region:'center',title:'Center',iconCls:'icon-ok'">
		<div id="tt" class="easyui-tabs"
			data-options="fit:true,border:false,plain:true">
			<div title="Main" data-options="" style="padding: 10px">
			<h3>Welcome <th th:text="${session.realname}"></th></h3>
			<!-- <th th:text="${session.realname}"></th> -->
			
			</div> 
			<!--  <div title="Main" data-options="href:'/index'" style="padding: 10px">
			</div> -->
			
		</div>

	</div>

</body>



</html>